In [1]:
#importing requried packages
import re
from datetime import datetime

In [5]:
#importing requried packages
import pandas as pd
import numpy as np
trained_dataset = pd.read_csv('/content/train.csv')
trained_dataset

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [6]:
trained_dataset.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [7]:
#(a) Tackled the substitution of absent values in the 'Mileage', 'Engine', 'Power', 'Seats', and 'New_Price' columns. To address these missing values:
#For 'Mileage', 'Engine', and 'Power', we selected the median to minimize the influence of outliers.
#For 'Seats', which has only two unique values (5 or 7), we employed the mode for substitution.
#The 'New_Price' column was eliminated entirely due to its considerable number of missing values.

In [8]:
#a)Examining for NULL values within a dataframe
trained_dataset.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [9]:
trained_dataframe = pd.DataFrame(trained_dataset)

In [10]:
#b)mileage, engine, power and new price,has units.
trained_dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [11]:
# Extracting numeric values as floats from Mileage
trained_dataframe['Mileage'] = trained_dataframe['Mileage'].str.extract('(\d+\.\d+)').astype(float)

# Removing ' CC' and converting 'Engine' values to floats
trained_dataframe['Engine'] = trained_dataframe['Engine'].str.replace(' CC', '').astype(float)

# Extracting numeric values as floats from 'Power'
trained_dataframe['Power'] = trained_dataframe['Power'].str.extract('(\d+\.\d+)').astype(float)

# Extracting numeric values as floats from 'New_Price'
trained_dataframe['New_Price'] = trained_dataframe['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [12]:
#Substitute the missing values (NA) in the Mileage, Engine, and Power columns with the mean.
trained_dataframe['Mileage'].fillna(trained_dataframe['Mileage'].median(),inplace=True)
trained_dataframe['Engine'].fillna(trained_dataframe['Engine'].median(),inplace=True)
trained_dataframe['Power'].fillna(trained_dataframe['Power'].median(),inplace=True)
trained_dataframe['Seats'].fillna(trained_dataframe['Seats'].mode()[0],inplace=True)
trained_dataframe.drop('Price', axis=1, inplace=True)

In [13]:
trained_dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,8.61
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN

In [14]:
output_csv_file = '/content/cleaned_dataset.csv'
trained_dataframe.to_csv(output_csv_file, index=False)

In [15]:
trained_dataframe2=pd.read_csv("/content/cleaned_dataset.csv")

In [16]:
trained_dataframe2.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5046
dtype: int64

In [17]:
#c)Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value
trained_dataframe2 = pd.get_dummies(trained_dataframe2, columns=['Fuel_Type', 'Transmission'], prefix=['Fuel_Type', 'Transmission'])

In [18]:
#Convert the variables into hot encoding
trained_dataframe2['Fuel_Type_Diesel'] = trained_dataframe2['Fuel_Type_Diesel'].astype(int)
trained_dataframe2['Fuel_Type_Electric'] = trained_dataframe2['Fuel_Type_Electric'].astype(int)
trained_dataframe2['Fuel_Type_Petrol'] = trained_dataframe2['Fuel_Type_Petrol'].astype(int)
trained_dataframe2['Transmission_Automatic'] = trained_dataframe2['Transmission_Automatic'].astype(int)
trained_dataframe2['Transmission_Manual'] = trained_dataframe2['Transmission_Manual'].astype(int)

In [19]:
trained_dataframe2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,18.19,1199.0,88.70,5.0,8.61,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,1,0,0,0,1

In [20]:
#Save the encoded data in CSV format:
output_csv_file = '/content/encoded_dataset.csv'
trained_dataframe2.to_csv(output_csv_file, index=False)

In [21]:
#d) Create one more feature and add this column to the dataset-engine power ratio
# Print the head of the trained_dataset DataFrame
print(trained_dataset.head())

# Investigate the data type of the "Engine" column
print(trained_dataset['Engine'].dtype)

# Convert the "Engine" column to string type
trained_dataset['Engine'] = trained_dataset['Engine'].astype(str)

# Remove the " CC" suffix from the "Engine" column
trained_dataset['Engine'] = trained_dataset['Engine'].str.replace(" CC", "")

# Convert the "Engine" column to float type
trained_dataset['Engine'] = trained_dataset['Engine'].astype(float)

# Print the head of the trained_dataset DataFrame again
print(trained_dataset.head())

# Calculate the "Engine_Power_Ratio" column
trained_dataset['Engine_Power_Ratio'] = trained_dataset['Power'] / trained_dataset['Engine']

# Print the head of the trained_dataset DataFrame one last time
print(trained_dataset.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0        NaN  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0        NaN   6.00
3  140.80    5.0        NaN  17.74
4   63.10    5.0        NaN   3.50
object
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0        NaN  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0        NaN   6.00
3  140.80    5.0        NaN  17.74
4   63.10    5.0        NaN   3.50
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price  Engine_Power_Ratio
0  126.20    5.0        NaN  12.50            0.079772
1   88.70    5.0       8.61   4.50            0.073978
2   88.76    7.0        NaN   6.00            0.071122
3  140.80    5.0        NaN  17.74            0.071545
4   63.10    5.0        NaN   3.50            0.043190

In [22]:
output_csv_file = '/content/mutate_dataset.csv'
trained_dataframe2.to_csv(output_csv_file, index=False)

In [23]:
mutated_dataset=pd.read_csv("/content/mutate_dataset.csv")
mutated_dataset.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,18.19,1199.0,88.70,5.0,8.61,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,1,0,0,0,1

In [24]:
#e
#Select: Selecting specific columns from the DataFrame.
select_data = trained_dataframe[['Owner_Type', 'Mileage', 'Engine', 'Power']]
print(select_data.head())

  Owner_Type  Mileage  Engine   Power
0      First    19.67  1582.0  126.20
1      First    18.19  1199.0   88.70
2      First    20.77  1248.0   88.76
3     Second    15.20  1968.0  140.80
4      First    23.08  1461.0   63.10

In [25]:
#Filtering involves selecting specific rows from a dataset based on a specified condition.
filter_data = trained_dataframe[trained_dataframe['Owner_Type'] == 'First']
print(filter_data.head())

#Mutate involves generating a new column in a dataset by applying transformations or calculations to existing columns.
trained_dataframe['Age'] = 2024 - trained_dataframe['Year']
print(trained_dataframe.head())

#Arranging the DataFrame involves reordering its rows based on one or more columns in ascending or descending order.
sort_data = trained_dataframe.sort_values(by='Mileage', ascending=True)
print(sort_data.head())


#Summarizing with group by involves aggregating data based on groups defined by a specific column, then computing summary statistics for each group.
group_data = trained_dataframe.groupby('Mileage').agg({'Engine': 'mean', 'Seats': 'min'})
print(group_data)

   Unnamed: 0                               Name Location  Year  \
0           1   Hyundai Creta 1.6 CRDi SX Option     Pune  2015
1           2                       Honda Jazz V  Chennai  2011
2           3                  Maruti Ertiga VDI  Chennai  2012
4           6             Nissan Micra Diesel XV   Jaipur  2013
5           7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
4              86999    Diesel       Manual      First    23.08  1461.0
5              36000    Diesel    Automatic      First    11.36  2755.0

    Power  Seats  New_Price
0  126.20    5.0        NaN
1   88.70    5.0       8.61
2   88.76    7.0        NaN
4   63.10    5.0        NaN
5  171.50    8.0        NaN
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Age
0  126.20    5.0        NaN    9
1   88.70    5.0       8.61   13
2   88.76    7.0        NaN   12
3  140.80    5.0        NaN   11
4   63.10    5.0        NaN   11
      Unnamed: 0                                 Name   Location  Year  \
2998        3093          Audi A7 2011-2015 Sportback    Kolkata  2012
2950        3044               Hyundai Santro Xing GL    Kolkata  2009
4104        4234  Mercedes-Benz M-Class ML 350 4Matic    Chennai  2012
962          996               Hyundai Santro Xing GL       Pune  2008
1025        1059               Hyundai Santro Xing GL  Hyderabad  2010

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
2998              24720    Diesel    Automatic     Second      0.0  2967.0
2950              60170    Petrol       Manual      First      0.0  1086.0
4104              63000    Diesel    Automatic      First      0.0  2987.0
962               93000    Petrol       Manual      First      0.0  1086.0
1025              58163    Petrol       Manual      First      0.0  1086.0

      Power  Seats  New_Price  Age
2998  241.4    5.0        NaN   12
2950   88.8    5.0        NaN   15
4104   88.8    5.0        NaN   12
962    88.8    5.0        NaN   16
1025   88.8    5.0        NaN   14
          Engine  Seats
Mileage
0.00     2012.45    5.0
6.40     5204.00    2.0
7.50     4806.00    4.0
7.81     5461.00    5.0
7.94     4395.00    4.0
...          ...    ...
27.39    1248.00    5.0
27.40    1498.00    5.0
27.62     793.00    5.0
28.09    1248.00    5.0
28.40    1248.00    5.0

[418 rows x 2 columns]